        
<div class="nav-wrapper">
    <ul id="nav" class="nav">
        <li ui-sref-active="active"><a ui-sref="dashboard"> <i class="ti-home"></i><span>Dashboard</span> </a></li>
        <li ui-sref-active="active"><a ui-sref="objects.list({module: 'users'})"> <i class="ti-layout-grid4"></i><span>Users</span> </a></li>
        <li>
            <a ui-sref="pages"><i class="ti-files"></i><span>Pages</span></a>
            <ul>
                <li><a href="http://iarouse.com/dist-slim/landing/index.html" target="_blank"><i class="ti-angle-right"></i><span data-i18n="Landing"></span></a></li>
                <li><a href="#/pages/signin"><i class="ti-angle-right"></i><span data-i18n="Sign In"></span></a></li>
                <li><a href="#/pages/signup"><i class="ti-angle-right"></i><span data-i18n="Sign Up"></span></a></li>
                <li><a href="#/pages/forgot-password"><i class="ti-angle-right"></i><span data-i18n="Forgot Password"></span></a></li>
                <li><a href="#/pages/lock-screen"><i class="ti-angle-right"></i><span data-i18n="Lock Screen"></span></a></li>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-i18n="User Profile"></span></a></li>
                <li><a href="#/pages/invoice"><i class="ti-angle-right"></i><span data-i18n="Invoice"></span></a></li>
                <li><a href="#/pages/404"><i class="ti-angle-right"></i>404 <span data-i18n="Error"></span></a></li>
                <li><a href="#/pages/500"><i class="ti-angle-right"></i>500 <span data-i18n="Error"></span></a></li>
                <li><a href="#/pages/blank"><i class="ti-angle-right"></i><span data-i18n="Blank Page"></span></a></li>
            </ul>
        </li>
    </ul>
</div>